body {
    width: 695px;
	overflow-x: hidden;
}

#filename{
    font-family: "Sans";
    margin-left: auto;
    margin-right: auto;
}

#run{
    float: right;
}

#loader{
    width: 150px;
    height: 175px;
    display: inline-block;
    position: relative;
    float: left;
}

select {
    width: 150px;
    height: 168px;
}

#textbox{
    display: inline-block;
    position: relative;
    float: left;
    height: 175px;
}

