body {
	min-width: 357px;
    width: 750px;
	overflow-x: hidden;
}

#loader{
    display: inline-block;
    position: relative;
    float: left;
}

#textbox{
    display: inline-block;
    position: relative;
    float: left;
}
