body {
    width: 695px;
	overflow-x: hidden;
}

#filename{
    font-family: "Courier New";
    margin-left: 50px;
    margin-right: auto;
}

#run{
    float: right;
    margin-right: 0px;
}

#loader{
    width: 193px;
    height: 175px;
    display: inline-block;
    position: relative;
    float: left;
}

select {
    width: 193px;
    height: 172px;
}

#textbox{
    display: inline-block;
    position: relative;
    float: right;
    height: 175px;
}

